.arrow-button {
  background: none;
  outline: none;
  color: rgba(0, 0, 0, 0.2) !important;
  display: block !important;
  padding: 0 !important;
  outline: none;
}

.arrow-button:hover {
  color: rgba(0, 0, 0, 0.6) !important;
}
.arrow-button:disabled {
  visibility: hidden !important;
}
.arrow-button:focus {
  box-shadow: none !important;
}
.widget-layer {
  padding: 0.4em;
  margin: 0.1em 0em;
  background: white;
  outline: 1px solid white;
  transition: all 0.2s ease-in-out;
}
.widget-layer:hover{
  background: #ebfaff;
  
}

.label {
  font-size: 0.8em;
  color: #0087db;
  font-family: "courier new";
}
.btn-layer-action{
   font-size: 1.1em !important;
   margin-right: 0.5em; 
   margin-top: 0.2em;
   border: none !important;
}