.Navbar {
  background: #eee;
  border-bottom: 1px solid #ccc;
  display: flex;
  padding: 0 0.5em;
  align-items: center;
}

.Navbar .navigation {
  padding-right: 0.5em;
}

.Navbar .navigation a {
  color: #666;
  /*padding: 0.5em;
  border-radius: 0.5em;*/
  margin: 0px 0.5em;
  padding: 0.5em 0px;
}

.Navbar .navigation a:hover {
  text-decoration: none;
  color: #666;
}

.Navbar .navigation a.active {
  /*background-color: rgba(0, 0, 0, 0.1);
  box-shadow: inset 0em 0.1em 0.25em rgba(0, 0, 0, 0.2);*/
  border-bottom: 2px solid #007bff;
  pointer-events: none;
}

.Navbar .navigation a.active:hover {
  text-decoration: none;
  border-bottom: 2px solid #0056b3;
}

.space{
  justify-content: space-between;
  width: 100%;
}